POSTGRES_DB=external_shortlink
POSTGRES_USER=external_shortlink_admin
POSTGRES_PASSWORD=GENERATE_A_LONG_RANDOM_HEX_VALUE_FOR_ADMIN
EXTERNAL_SHORTLINK_RUNTIME_PASSWORD=GENERATE_A_DIFFERENT_LONG_RANDOM_HEX_VALUE
